<h1>Editando Programador</h1>
<%= render 'form', programmer: @programmer %>
<%= link_to 'Mostrar', programmer_path(@programmer), class: 'btn btn-info' %>
<%= link_to 'Voltar', programmers_path, class: 'btn btn-default' %>
