<h1>Editando Cliente</h1>
<%= render 'form', client: @client %>
    <%= link_to 'Mostrar', client_path(@client), class: 'btn btn-info' %>
        <%= link_to 'Voltar', clients_path, class: 'btn btn-default' %>