<% if project.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(project.errors.count, "erro(s)")%>
    Impossível salvar informações deste Projeto:
  </h2>
  <ul>
    <% project.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
